extend ../layout
block content
  .panel.panel-default
    .panel-heading 
      h3 Listado de Fichas
    .panel-body
      form.navbar-form.navbar-left(role="search", method='post',action='/io')
        .form-group
          input.form-control(type="text", placeholder="Nombre", name='name',id='name')
          button.btn.btn-default(type="submit", name="submit") Buscar

      a.btn.btn-default.navbar-right(type="button", href="/io/new")
          i.fa.fa-pencil.fa-fw.fa-lg
          | Crear Ficha

      table.table
        thead
          tr
            th Registro
            th Provincia
            th Arqueólogo
            th Acciones
        tbody
          each val, i in states
            tr(class=(i % 2 == 0) ? 'odd' : 'even') 
              td= val.id
              td= val.Deposit
              td= val.arqueologo
              td
                a(href="/ioEdit/#{val.id}")
                  button.btn.btn-default.btn-sm
                    i.fa.fa-edit.fa-fw.fa-lg(data-toggle="tooltip", title="Editar")
                    | Editar
                a(href="/io/delete/#{val.id}")
                  button.btn.btn-default.btn-sm
                    i.fa.fa-trash-o.fa-fw.fa-lg(data-toggle="tooltip", title="Eliminar")
                    | Eliminar
                  